/* text columns are narrow, have separate header and content, and content may be a list of elements */

.column-text {
  max-width: 50em;
  font-size: 15px;
  margin: 0 auto;
  border-left: 1px solid rgb(214, 217, 220);
  width: 100%;
}

.column-text .header {
  padding: 1.5rem 0 0 1.5rem;
  margin-bottom: 1rem;
}

.column-text .header > * {
  margin-top: 0;
}

.column-text.none .content {
  border-top: none;
}

.column-text .content .element,
.tabbed .element {
  border-bottom: 1px solid rgb(239, 240, 241);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.column-text .content .element:last-child,
.tabbed .element:last-child {
  border-bottom: none;
}

.column-text.none .content .element {
  border: none;
}

.column-text.closed .content .element {
  padding-left: 0.5rem;
}

.column-text.open .content,
.column-text.none .content,
.column-text.grid .content {
  padding-left: 1.5rem;
}

.column-text .content .element.first,
.tabbed .element.first {
  border-bottom: none;
}

.column-text.grid {
  max-width: 71.5em;
}

/* tweak style of tags in elements (see also App.css) */

.element h2 {
  margin-top: 0;
}

.hidden {
  display: none !important;
}

img {
  height: auto;
}

label,
button {
  cursor: pointer;
}

a {
  color: #4c8dbd;
  text-decoration: none;
  cursor: pointer;
}

.linkbutton {
  border-color: #1e3c52;
  box-shadow: inset 0 1px 0 0 rgba(76, 141, 189, 0.75),
    0 0 0 0 rgba(44, 87, 119, 0);
  color: #fff;
  background-color: #2c5777;

  position: relative;
  padding: 0.8em;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  font-family: inherit;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15384615;
  text-decoration: none;
  cursor: pointer;
}

/* user-info is shown on the list of users and to identify the author of any message */

.user-info:hover {
  background-color: #f4f8fb;
}

.user-info > a,
.user-info > .details {
  float: left;
}

.user-info > .details {
  margin-left: 9px;
  font-size: 14px;
  color: rgb(76, 141, 189);
}

.user-info > .details > .user-location,
.user-profile .user-location {
  display: block;
  font-size: 12px;
  color: rgb(106, 115, 124);
}

.user-info .when {
  font-size: 12px;
  color: rgb(145, 153, 161);
  margin: 1px 0 2px;
}

.user-info::after {
  content: "";
  clear: both;
  display: table;
}

/* discussion-summary */

.discussion-summary h3 {
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.discussion-summary h3 > a {
  font-size: 16px;
  font-weight: normal;
  color: rgb(44, 87, 119);
}

.discussion-summary .excerpt {
  padding-bottom: 5px;
}

.discussion-summary .user-info,
.message .user-info {
  padding: 5px 6px 7px 7px;
  float: right;
  width: 200px;
}

.summary .topic,
.message .topic {
  float: left;
}

.summary .topic > *:not(:first-child)::before,
.message .topic > *:not(:first-child)::before {
  content: " ";
}

.tags .topic {
  padding: 5px 6px 7px 7px;
}

.tag {
  padding: 5px 6px 7px 7px;
  display: inline-block;
  font-size: 12px;
  padding: 0.4em 0.5em;
  border: 1px solid rgb(225, 236, 244);
  background-color: rgb(225, 236, 244);
  margin: 2px 2px 2px 0;
  border-radius: 3px;
}

.discussion-summary {
  overflow: hidden;
  display: flex;
}

.message {
  overflow: hidden;
}

.discussion-summary .stats {
  width: 58px;
  flex-shrink: 0;
  margin: 0 16px 0 8px;
}

.discussion-summary .stats strong {
  display: block;
  font-size: 20px;
  font-weight: normal;
}

.discussion-summary .stats .answers {
  padding: 7px 0 5px;
  border: 1px solid rgba(69, 161, 99, 0.5);
  font-size: 11px;
  color: rgb(69, 161, 99);
  text-align: center;
  border-radius: 3px;
}

.discussion-summary .summary {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.user-info {
  padding: 6px 6px 6px 7px;
}

/* styles on discussions banner */

.minigrid {
  display: flex;
  /* align-items: center; */
}

.minigrid > * {
  display: flex;
  padding-left: 12px;
}

.minigrid > :first-child {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-right: 12px;
  padding-left: 0;
}

.minigrid .count {
  font-size: 17px;
}

.minigrid h1 {
  margin-top: 0;
}

.minigrid .sort a {
  font-size: 13px;
  padding: 0.8em;
  border: 1px solid rgb(118, 128, 138);
  margin-right: -1px;
  margin-bottom: -1px;
}

.minigrid .sort a:last-child {
  margin-right: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.minigrid .sort a:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.minigrid .sort .selected {
  background-color: rgba(174, 192, 209, 0.25);
}

.minigrid .page a,
.minigrid .page span {
  font-size: 12px;
  padding: 4px 8px;
  border: 1px solid rgb(228, 230, 232);
  margin-bottom: -1px;
  border-radius: 3px;
  margin-right: 4px;
  color: rgb(132, 141, 149);
}

.minigrid .page .dots {
  border-color: transparent;
}

.footer {
  margin: 38px 0 20px;
  padding-left: 16px;
}

.minigrid.footer,
.minigrid.subtitle {
  align-items: center;
}

.minigrid > .link {
  display: block;
}

.minigrid .linkbutton {
  display: inline-flex;
}

.minigrid.links ul {
  list-style: none;
  margin: 0 0 1em;
}

.minigrid.links ul > li {
  margin: 0.5em;
}

/* style the search input */

.wmd-preview {
  padding: 0;
  clear: both;
  width: 100%;
  border-top: 1px solid rgb(214, 217, 220);
  border-bottom: 1px solid rgb(214, 217, 220);
}

.display-webkit-box {
  display: -webkit-box;
}
