.AskquestionModal{
    background-color: blue;
    .modal-content {
        position: relative;
        background-color: wheat;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border: 1px solid wheat;
      
        border-radius: 3px;
        outline: 0;
        color: #fff;
        -webkit-box-shadow: 0 3px 9px;
      }
      .modal-header {
        padding: 15px;
        border-bottom: 1px solid wheat;
      }
      .modal-footer {
        padding: 15px;
        text-align: right;
        border-top: 1px solid wheat;
      }
 } 

 //game order words
 .order-background{
   background-color: blue;
   background-image: "../img/order-words-frame.png";
 }
 // do not apply this file