.li_disabled {
  pointer-events: none;
  opacity: 0.6;
}

.vocab-img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

.suggested_vocab_topic {
  height: auto;
  width: auto;
  max-width: 100px;
  max-height: 100px;
}

.arrowcenter {
  text-align: center;
  border: 3px solid green;
}

.containerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*quiz page*/
.react-quiz-container {
  width: 100% !important;
  margin: 0 !important;
}

.react-quiz-container .questionWrapper img {
  max-width: 300px;
  max-height: 300px;
  object-fit: scale-down !important;
}

.react-quiz-container .answerBtn {
  width: 45% !important;
  display: table-row !important;
  margin-right: 2%;
}

.react-quiz-container .answerBtn img {
  max-width: 300px;
  max-height: 300px;
  object-fit: scale-down !important;
}

.react-quiz-container .questionWrapper .card-body {
  display: grid;
  grid-gap: 50px 50px;
  grid-template-columns: auto auto;
}

.react-quiz-container .result-answer {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: auto auto;
}

.react-quiz-container .result-answer .answerBtn {
  width: 100% !important;
}

.react-quiz-container br {
  display: none;
}
.react-quiz-container .quiz-result-filter {
  border: none;
  border-radius: 0px;
  height: 42px;
  width: 200px;
  background: #f9f9ff;
  padding-left: 5px;
  padding-right: 5px;
}

.react-quiz-container .quiz-result-filter select {
  padding: 0 !important;
  height: 40px !important;
  border: none !important;
}

/*vocab topic*/

.blog_item {
  max-width: 700px;
}
/*gram list*/
.special_img {
  height: 200px !important;
}

/*homepage */
.card-img-top {
  height: 200px !important;
}

/*order words game*/

.word-box {
  width: 112px;
  height: 62px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: grab;
}

.word-frame {
  width: 120px;
  height: 70px;
  border: solid slategray 4px;
  margin: 15px;
  -webkit-box-shadow: 0 3px 9px;
}

.words-container {
  /* color: slategray; */
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  max-width: 100%;
  flex-wrap: wrap;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/*tortoise and hare game*/

.character {
  width: 8rem;
}

.container-game {
  position: relative;
}

.overlapItem1 {
  position: absolute;
  margin-left: 90%;
  height: 35%;
  bottom: 10%;
  transform: scaleX(-1);
}

.overlapItem2 {
  position: absolute;
  bottom: 10%;
  left: 16px;
}

@media (min-width: 768px) {
  .modal {
    left: 38%;
    top: 27%;
    width: 25%;
    height: auto;
    border-radius: 0.75rem;
  }
}

@media (max-width: 640px) {
  .modal {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.modal {
  position: fixed;
  padding: 1rem;
  box-sizing: border-box;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.opponent_name {
  text-align: center;
  color: brown;
}

.font-curve {
  font-family: "Papyrus";
  font-size: xxx-large;
  color: green;
}

.font-curve-win {
  font-family: "Brush Script MT", cursive;
  font-size: xxx-large;
  color: blue;
}

.font-curve-lost {
  font-family: "Brush Script MT", cursive;
  font-size: xxx-large;
  color: red;
}

.current-word {
  cursor: pointer;
}
