.li_disabled {
    pointer-events:none; 
    opacity:0.6;     
}

.vocab-img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;
}

.suggested_vocab_topic{
    height: auto; 
    width: auto; 
    max-width: 100px; 
    max-height: 100px;
}


.arrowcenter {
    text-align: center;
    border: 3px solid green;
  }
 
